body {
  margin: 0;
  background-color: #f0eded;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  width: 100%;
}

img{
  height: 100%;
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
}

/* Nav section*/

#navbar {
  display: grid;
  min-height: 125px;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  padding: 0 40px;
  background-color: #222323;
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;

}



#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Libre Franklin', sans-serif;
}

#links a {
  text-decoration: none;
  color: #f0eded;
  font-size: 19px;
}

#links a:hover {
  color: #adb5bd;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222323;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f0eded;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #adb5bd;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}

a {
  font-family: 'Libre Franklin', sans-serif;
}

/* Mobile to Tablet  */
@media (min-width: 320px) and (max-width: 767px) {
  #links,
  .mobile-menu {
    display: none;
  }

  #logo {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
  }

  .logo img {
    width: 50%;
    height: 100%;

  }

}
/* Tablet to Desktop */
@media (min-width: 768px) {
  .mobile-btn {
    display: none;

  }

  .logo img {
    width: 10%;
    height: 100%;

  }

}

/*Grid*/


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr ;

}
/*header content*/
.header {
  grid-column: 1 / 4;
  background-color:  #222323;
  text-align: center;
  height: 768px;
}


/*left content*/
.left{
  background-color: ##f0eded;;
}
.imgbox{
height: 75%;
width:75%;
background-color: #222;
margin-left: 11%;
margin-top: 3%;
}
.textbox{
  height: 10%;
  width:75%;
  /*background-color: #fff;*/
  margin-left: 11%;
  text-align: center;
  color: #222323;
}
/*center content*/
.center{
  background-color: #f0eded;
}
/*right content*/
.right{
  background-color: #f0eded;
}
/*footer content*/
.footer {
  grid-column: 1 / 4;
  background-color: #f0eded;
  height: 100px;
  text-align: center;
  padding-top: 5%;
}

/*grid2*/
.container1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  }
.left1{
  background-color: #222323;

}
.right1{
  background-color: #222323;

}

.imgbox1{
height: 100%;
width: 40%;
background-color: #222;
margin-left: 13%;

}

.textbox1{
  height: 50%;
  width:75%;
  color: #f0eded;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10%;
  text-align: center;
}



/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  margin: 10px;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
/* On mobile, the page layout is a single column. */
@media (max-width: 600px) {
  .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  background-color: #222323;
  text-align: center;
  height: 384px;
}

.container1 {
display: flex;
flex-direction: column;
}
.imgbox1{
height: 100%;
width: 40%;
background-color: #222;
margin-left: 25%;

}

.textbox1{
  height: 200px;
  width:75%;
  margin-left: 10%;
  text-align: center;
  color: #f0eded;
  font-family: 'Montserrat', sans-serif;
}

.textbox{
  height: 10%;
  width:75%;
  /*background-color: #fff;*/
  margin-left: 11%;
  text-align: center;
  color: #222323;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
  width: 100%;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  margin: 5px;

}
}
