body {
  background-color: #212529;
}

canvas {
  border: 2px #343a40;
  background-color: #457b9d;
}

h1{
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
}

h3{
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
}
